<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
  * Loewenstark_Newsletter
  *
  * @category  Loewenstark
  * @package   Loewenstark_Newsletter
  * @author    Mathis Klooss <m.klooss@loewenstark.de>
  * @copyright 2013 Loewenstark Web-Solution GmbH (http://www.loewenstark.de). All rights served.
  * @license     https://github.com/mklooss/Loewenstark_Newsletter/blob/master/README.md
  */
//-->
<config>
    <modules>
        <Loewenstark_Newsletter>
            <version>1.5.0.0</version>
        </Loewenstark_Newsletter>
    </modules>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <Loewenstark_Newsletter before="Mage_Newsletter">Loewenstark_Newsletter</Loewenstark_Newsletter>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <translate>
            <modules>
                <Loewenstark_Newsletter>
                    <files>
                        <default>Loewenstark_Newsletter.csv</default>
                    </files>
                </Loewenstark_Newsletter>
            </modules>
        </translate>
        <layout>
            <updates>
                <lws_newsletter module="Loewenstark_Newsletter">
                    <file>loewenstark/newsletter.xml</file>
                </lws_newsletter>
            </updates>
        </layout>
        <secure_url>
            <newsletter_subscriber>/newsletter/subscriber/</newsletter_subscriber>
            <newsletter_unsubscriber>/newsletter/unsubscriber/</newsletter_unsubscriber>
        </secure_url>
    </frontend>
    <global>
        <helpers>
            <lws_newsletter>
                <class>Loewenstark_Newsletter_Helper</class>
            </lws_newsletter>
        </helpers>
        <models>
            <lws_newsletter>
                <class>Loewenstark_Newsletter_Model</class>
            </lws_newsletter>
            <newsletter>
                <rewrite>
                    <unsubscriber>Loewenstark_Newsletter_Model_Unsubscriber</unsubscriber>
                    <subscriber>Loewenstark_Newsletter_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <blocks>
            <lws_newsletter>
                <class>Loewenstark_Newsletter_Block</class>
            </lws_newsletter>
            <newsletter>
                <rewrite>
                    <unsubscriber>Loewenstark_Newsletter_Block_Unsubscriber</unsubscriber>
                    <unsubscribe>Loewenstark_Newsletter_Block_Unsubscriber</unsubscribe><!-- fallback //-->
                </rewrite>
            </newsletter>
        </blocks>
    </global>
    <default>
        <newsletter>
            <advanced>
                <doubleoptinmagedefault>0</doubleoptinmagedefault>
            </advanced>
        </newsletter>
    </default>
</config>
